.container {
    background-color:#F5F5F5;
   height:100vh;
   display:flex;
   justify-content:center;
   align-items:center;
}

.container .areaLogin {
    background-color:rgb(106, 214, 241);
    padding:50px;
    border-radius:10px;
}
.container .areaLogin h2 {
    text-align:center;
}
.container .areaLogin input {
    display:flex;
    outline:0;
    padding:5px 8px;
}
.container .areaLogin input:first-child {
    margin-bottom:10px;
}
.container .areaLogin button {
    background-color:#a8ec70;
    margin:auto;
    padding:5px 8px;
    border-radius:5px;
    text-align:center;
    display:flex;
    justify-content:center;
    margin-top:20px;
    font-weight:bold;
}